<%- include("includes/header") %>
<div class="container py-md-5">

    <!-- error message on failed login: refer to complex app -->
    <%- include("includes/flash") %>  
    <!-- <div class="alert alert-danger text-center">Holder </div> -->

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3">Store Recipes</h1>      
      <p class="lead text-muted">Add recipes so you never forget. Share Recipes with others. Add comments to recipes. Welcome to the all new Our Recipes&trade;. </p>
        <div class="recipe-container">

          <div class="recipe">
            <div class="recipe-img">
              <img src="/assets/pesto-sandwich.jpg" alt="pesto-sandwich">
            </div>
            <div class="recipe-information">
              <h3>Pesto Sandwich</h3>
              <p id="recipe-description">A Delicious Pesto Sandwich on homemade Sourdough bread.</p>
            </div>  
          </div>

          <div class="recipe">
            <div class="recipe-img">
              <img src="/assets/shrimp-pasta.jpg" alt="shrimp-pasta">
            </div>
            <div class="recipe-information">
              <h3>Shrimp Pasta</h3>
              <p id="recipe-description">A fantasic Italian & Seafood mixture featuring a homemade pasta. Delivering a lightweight meal.</p>
            </div>
          </div>

          <div class="recipe">
            <div class="recipe-img">
              <img src="/assets/bbq-chicken-legs.jpg" alt="bbq-chicken-legs">
            </div>
            <div class="recipe-information">
              <h3>BBQ Chicken Legs</h3>
              <p id="recipe-description">A savory backyard BBQ staple. The BBQ chicken legs once marinated, once brushed</p>
            </div>
          </div>

          <!-- row 2 -->
          <div class="recipe">
            <div class="recipe-img">
              <img src="/assets/chicken-parm-pasta.jpg" alt="chicken-parm-pasta">
            </div>
            <div class="recipe-information">
              <h3>Chicken Parm Pasta</h3>
              <p id="recipe-description">A delicious & easy crockpot Chicken Parmasean pasta.</p>
            </div>
          </div>

          <div class="recipe">
            <div class="recipe-img">
              <img src="/assets/stuffed-chicken-breast.jpg" alt="stuffed-chicken-breast">
            </div>
            <div class="recipe-information">
              <h3>Stuffed Chicken Breast</h3>
              <p id="recipe-description">A savory delight of tender chicken breast filled with a rich, flavorful stuffing.</p>
            </div>  
          </div>

          <div class="recipe">
            <div class="recipe-img">
              <img src="/assets/sour-dough-pizza.webp" alt="bbq-chicken-legs">
            </div>
            <div class="recipe-information">
              <h3>Sourdough Pizza</h3>
              <p id="recipe-description"> A delicious homemade Staple. Mix your cooking with a little bit of baking for a delicious cheesy pizza.</p>
          </div>
          </div>

        </div>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <h1 class="display-3">Sign Up</h1>
      <form action="/register" method="POST" id="registration-form">

          <!-- Another error message: refer to complex app -->
           <% regErrors.forEach(function(message){ %>
            <div class="alert alert-danger small"> <%= message %> </div>
           <% }) %>
          

          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Pick a username" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email-register" class="form-control" type="text" placeholder="you@example.com" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Create a password">
          </div>
          
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Sign up for OurRecipes</button>
          
        </form>
      </div>
    </div>
  </div>
  
<%- include("includes/footer") %>