
  <%- include("includes/header") %>
  <div class="row align-items-center justify-content-center">

    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3 align-items-center">Recipes</h1>      
      <p class="lead text-muted">View your all of your recipes. Click a recipe to view Ingredients and Instructions</p>

      <!-- <div class="recipe-container">

        <div class="recipe">
          <div class="recipe-img">
            <img src="/assets/pesto-sandwich.jpg" alt="pesto-sandwich">
          </div>
          <h3>Pesto Sandwich</h3>
          <p id="recipe-description">A Delicious Pesto Sandwich on homemade Sourdough bread.</p>

        </div>
        

      </div> -->

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 px-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/pesto-sandwich.jpg" alt="">
            <div class="card-body">
              <h3>Pesto Sandwich</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/pesto-sandwich.jpg" alt="">
            <div class="card-body">
              <h3>Pesto Sandwich</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/pesto-sandwich.jpg" alt="">
            <div class="card-body">
              <h3>Pesto Sandwich</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

  <%- include("includes/footer") %>